* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//::-webkit-scrollbar {
//    width: 0;
//}

html,
body {
    min-height: 100%;
    background: #000;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    width: 100%;
}

.main-page {
    background: #111;
    color: #e8e8e8;
}

a {
    color: inherit;
    text-decoration: none;
}
