@use './header';
@use './footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//::-webkit-scrollbar {
//    width: 0;
//}

::selection {
    background: rgba(250, 215, 68, 0.77); /* золотистый из твоего градиента */
    color: #000000; /* белый текст */
}

::-webkit-selection {
    background: rgba(212, 175, 55, 0.3);
    color: #ffffff;
}




html,
body {
    min-height: 100%;
    background: #000;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    width: 100%;
}

.main-page {
    background: #111;
    color: #e8e8e8;
}

a {
    color: inherit;
    text-decoration: none;
}
